# Python
__pycache__/
*.py[cod]

# Base de datos
instance/
*.sqlite
*.db

# Variables de entorno
.env

# Entorno virtual
venv/
.venv/

# VS Code
.vscode/

# Archivos temporales
*.log

# Carpeta de imágenes subidas
uploads/